* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

.rightmenu {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
  margin-right: 15px;
}

.navbar li {
  list-style-type: none;
  font-size: 34px;
}

.navbar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.grid-menu,
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #5f6368;
  opacity: 1;
}

.grid-menu {
  margin-left: 20px;
  margin-right: 10px;
}

.avatar:hover,
.grid-menu:hover {
  cursor: pointer;
  background-color: #eaedf0;
}

.avatar-jpg {
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 980px;
  width: 100%;
  padding: 0 2rem;
  margin: 100px auto 100px auto;
}

.google-img {
  margin-left: 100px;
  margin-bottom: 40px;
}

.mic-icon {
  width: 13px;
}

.search-icon {
  transform: translate(32px, 2px);
  color: #5f6368;
  z-index: 1;
  font-size: 21px;
}

.mic-icon {
  transform: translate(-32px, 3px);
}

input[type="text"] {
  padding: 12px 40px;
  width: 600px;
  border-radius: 32px;
  border-style: solid;
  border-color: whitesmoke;
  font-size: 16px;
  outline: none;
}

.search-buttons {
  margin: 16px 0;
}

.search-buttons input {
  padding: 8px 20px;
  margin: 10px;
  border: none;
  color: #4e4d4d;
  border-radius: 5px;
  outline: none;
}

.search-buttons input:hover {
  box-shadow: 0 0 2px #000;
  color: #000;
}
